@media (max-width: 1445px){
   section{
    padding: 100px 10% 0 10%;
   } 

   section:last-of-type{
       padding-bottom: 100px;
   }

   #carousel, #dotNavContainer{
       width: calc((16vw * 4) + (6 * 1vw) + 8px);
   }

   .weatherBox{
       width: 16vw;
       height: 16vw;
   }
}

@media (max-width: 1275px){
    header{
        padding: 25px 5% 20px 5%;
    }

    #locationInput{
        width: 200px;
    }
    nav a{
        font-size: 16pt;
    }

    .dayTile{
        width: 100%;
    }

    .conditionLabel{
        font-size: 28pt;
    }

    .highLowLabels{
        font-size: 22pt;
    }

    .umbrella{
        width: 65px;
    }

    .rainChanceLabel{
        font-size: 28pt;
    }
}

@media (max-width: 1024px){

    h1{
        font-size: 30pt;
    }

    #currTemp, #degreeSign, #currWeather{
        font-size: 40pt;
    }

    #locationInput{
        width: 175px;
    }

    #goButton{
        font-size: 12pt;
    }

    nav{
        max-width: 65%;
        min-width: 400px;
    }

    nav a{
        font-size: 14pt;
    }

    h2{
        font-size: 30pt;
        margin: -20px 0 50px 0;
    }

    .underline{
        top: 112px;
        width: 285px;
    }


    #carousel, #dotNavContainer{
        width: calc((15vw * 4) + (6 * 1vw) + 8px);
    }
 
    .weatherBox{
        width: 15vw;
        height: 15vw;
    }
 

    .date{
        font-size: 24pt;
    }

    .dayTile{
        padding: 35px;
    }
    
    .conditionLabel{
        margin: -7px 0 25px 0;
        font-size: 26pt;

    }

    .highLowBox{
        margin-left: 70px;
    }

    .highLowLabels{
        font-size: 22pt;
    }

    .rainChanceLabel{
        font-size: 24pt;
    }
}

@media (max-width: 860px){
    nav{
        display: none;
    }

    #locationInput{
        font-size: 11pt;
    }

    #menuIcon{
        display: inline-block;
        cursor: pointer;
    }

    #hamburgerNav{
        position: absolute;
        top: 10px;
        right: 0px;
        font-size: 16pt;
        background-color: var(--softWhite);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 5px 5px 0 var(--softBlack);
        border: 2px solid var(--softBlack);
    }

    #hamburgerNav a{
        text-decoration: none;
        color: var(--softBlack);
        position: relative;
    }

    #hamburgerNav a:hover{
        font-weight: 600;
    }

    #hamburgerNav div{
        margin-top: 25px;
    }

    #hamburgerNav div:first-of-type{
        margin-top: -12px;
    }

    #hamburgerNav .navUnderline{
        top: 29px;
    }

    #hamburgerNav #currConditionBox .navUnderline{
        width: 185px;
    }

    #hamburgerNav #hourlyForecastBox .navUnderline{
        width: 152px;
    }
    #hamburgerNav #fiveDayForecastBox .navUnderline{
        width: 145px;
    }

    .arrow{
        width: 20px;
    }

    .arrow:first-of-type{
        left: 10px;
    }
    
    .arrow:last-of-type{
        left: 50px;
    }
}