@media (max-width: 1445px){
   section{
    padding: 100px 10% 0 10%;
   } 

   section:last-of-type{
       padding-bottom: 100px;
   }

   .weatherBox{
       width: 21vw;
       height: 21vw;
   }

   #carousel, #dotNavContainer{
       width: calc((21vw * 3) + (4 * 1vw) + 8px);
   }

}   

@media (max-width: 1275px){
    header{
        padding: 25px 5% 20px 5%;
    }

    #locationInput{
        width: 200px;
    }
    nav a{
        font-size: 16pt;
    }

    .conditionLabel{
        font-size: 28pt;
    }

    .weatherBox{
        font-size: 20pt;
    }

    .hourlyUmbrella{
        width: 18pt;
    }
}

@media (max-width: 1024px){

    h1{
        font-size: 30pt;
    }

    #currTemp, #degreeSign, #currWeather{
        font-size: 40pt;
    }

    #locationInput{
        width: 175px;
    }

    #goButton{
        font-size: 12pt;
    }

    nav{
        max-width: 65%;
        min-width: 400px;
    }

    nav a{
        font-size: 14pt;
    }

    h2{
        font-size: 30pt;
        margin: -20px 0 50px 0;
    }

    .underline{
        top: 112px;
        width: 285px;
    }

    /* ------ Hourly Forecasts ------*/

    .weatherBox{
        width: 22.5vw;
        height: 22.5vw;
    }

    #carousel, #dotNavContainer{
        width: calc((22.5vw * 3) + (4 * 1vw) + 8px);
    }


     /* ------ 5-Day Forecasts ------*/
    .date{
        font-size: 24pt;
    }

    .dayTile{
        padding: 35px;
    }
    
    .conditionLabel{
        margin: -7px 0 25px 0;
        font-size: 26pt;

    }
}

@media (max-width: 860px){

    #backToTop{
        width: 45px;
        height: 45px;
        right: 20px;
        top: 91vh;
        padding-top: 10px;
    }
    
    nav{
        display: none;
    }

    #locationInput{
        font-size: 11pt;
    }

    #menuIcon{
        display: inline-block;
        cursor: pointer;
    }

    #hamburgerNav{
        position: absolute;
        top: 10px;
        right: 0px;
        font-size: 16pt;
        background-color: var(--softWhite);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 5px 5px 0 var(--softBlack);
        border: 2px solid var(--softBlack);
    }

    #hamburgerNav a{
        text-decoration: none;
        color: var(--softBlack);
        position: relative;
    }

    #hamburgerNav a:hover{
        font-weight: 600;
    }

    #hamburgerNav div{
        margin-top: 25px;
    }

    #hamburgerNav div:first-of-type{
        margin-top: -12px;
    }

    #hamburgerNav .navUnderline{
        top: 29px;
    }

    #hamburgerNav #currConditionBox .navUnderline{
        width: 185px;
    }

    #hamburgerNav #hourlyForecastBox .navUnderline{
        width: 152px;
    }
    #hamburgerNav #fiveDayForecastBox .navUnderline{
        width: 145px;
    }

    
    /* ------ Hourly Forecasts ------*/
    #hourlyForecastSection{
        padding-right: 5%;
    }

    #carousel, #dotNavContainer{
        width: calc((24vw * 3) + (4 * 1vw) + 8px);
    }

    #carousel{
        left: -20px;
    }

    .arrow{
        width: 20px;
    }

    .arrow:first-of-type{
        left: -50px;
    }

    .arrow:last-of-type{
        left: 10px;
    }

    #dotNavContainer{
        margin-top: 15px;
    }

    .dotNav{
        width: 13px;
        height: 13px;
    }

    .weatherBox{
        font-size: 18pt;
        padding: 10px;
        width: 24vw;
        height: 24vw;
    }

    .iconBox{
        margin-bottom: 10px;
    }

    .hourlyUmbrella{
        width: 16pt;
        margin-right: 3px;
    }

    footer{
        height: 150px;
    }
}

@media (max-width: 650px){
    section{
        padding-top: 60px;
    }

    h1{
        font-size: 30pt;
        padding-top: 30px;
    }

    #currTemp, #degreeSign, #currWeather{
        font-size: 40pt;
    }

    #degreeSign{
        margin-left: -10px;
    }
    
    #weatherIconDiv{
        width: 85%;
        height: 300px;
        margin: 40px 7.5%;
    }

    #highLow{
       font-size: 22pt;
    }
    
    .lowerTile{
        height: 150px;
    }

    .condtionBoxWrapper{
        max-width: 95%;
    }

    
    /* ------ Hourly Forecasts ------*/


    .arrow:first-of-type{
        left: -40px;
    }
    
    .arrow:last-of-type{
        left: 5px;
    }

    .timeLabel{
        font-size: 20pt;
    }

    .forecastBox:last-of-type{
        margin-right: 4px;
    }

    .weatherBox{
        font-size: 14pt;
        width: 23.25vw;
        height: 23.25vw;
        box-shadow: 4px 4px 0px var(--softBlack);
    }

    #carousel, #dotNavContainer{
        width: calc((23.25vw * 3) + (4 * 1vw) + 4px); 
    }

    #carouselContainer{
        margin-bottom: 25px;
    }

    #dotNavContainer{
        margin-top: 0px;
    }

    .hourlyUmbrella{
        width: 12pt;
    }


    .highLowLabels{
        font-size: 20pt;
    }

    .rainChanceLabel{
        font-size: 24pt;
    }

    .umbrella{
        width: 40px;
        margin-right: 10px;
    }
}

@media (max-width: 510px){
    
    section{
        padding: 50px 25px 0 25px;
    }

    h1{
        font-size: 25pt;
        padding-top: 20px;
    }

    h2{
        margin: -20px 0 40px 0;    
    }

    #currTemp, #degreeSign, #currWeather{
        font-size: 35pt;
    }

    #degreeSign{
        margin-left: -10px;
    }
    
    #weatherIconDiv{
        width: 100%;
        height: 30vh;
        margin: 30px 0;
    }

    #highLow{
        font-size: 20pt;
    }

    #backToTop{
        top: 75vh;
    }

    /* /*---------- hourly forecast /*---------- */
    .forecastBox{
        margin: 0 1.25vw 5px 1.25vw;
    }

    .forecastBox:last-of-type{
        margin-right: 5px;
    }
    
    .weatherBox{
        width: 22vw;
        height: 22vw;
        font-size: 11pt;
        box-shadow: 5px 5px 0px var(--softBlack);
    }
    

    #carousel, #dotnavContainer{
        width: calc((22vw * 3) + (4 * 1.25vw) + 5px);
    }

    #carousel{
        left: 3px;
    }

    #dotNavContainer{
        left: 20px;
    }

    .arrow:first-of-type{
        left: -10px;
    }
    
    .arrow:last-of-type{
        left: 15px;
    }

    .hourlyUmbrella{
        width: 10pt;
        margin-right: 1px;
    }

    /* .arrow:last-of-type{
        margin: 0;
    } */

    /*---------- 5-Day Forecast ----------*/
    .dayTile{
        padding: 25px;
        margin-bottom: 75px;
    }
    
    .lowerTile{
        height: 100px;
        grid-template-columns: 1.25fr 1.15fr 0.8fr;
    }

    .conditionLabel{
        font-size: 20pt;
    }

    .fiveDayDegreeSign{
        margin-left: -5px;
    }

    .lowerTile{
        height: 100px;
    }

    .highLowBox{
        padding: 0 14px;
    }

    .highLowLabels{
        row-gap: 7px;
        font-size: 14pt;
        row-gap: 10px;
    }

    .rainChanceBox{
        padding-left: 10px;
        flex-wrap: wrap;
        align-items: center;
    }

    .rainChanceLabel{
        font-size: 16pt;
        margin-top: -10px;
        margin-bottom: 0;
    }

    .umbrella{
        width: 35px;
        margin: 0 5px -10px 0;
    }

    
}

@media (max-width: 400px){
    /* section{
        padding: 100px 7% 0 5%;
    } */

    #geotagIcon{
        margin-right: 5px;
    }

    #locationInput{
        width: 150px;
        padding: 0 8px;
    }

    #goButton{
        font-size: 11pt;
        padding: 7px;
    }
    
    #menuIcon{
        width: 30px;
        margin-bottom: -10px;
    }


    h1{
        font-size: 20pt;
        padding-top: 15px;
    }

    #currTemp, #degreeSign, #currWeather{
        font-size: 28pt;
    }

    #degreeSign{
        margin-left: -5px;
    }
    
    #weatherIconDiv{
        width: 100%;
        height: 30vh;
        margin: 30px 0;
    }

    #highLow{
        font-size: 18pt;
    }

    h2{
        font-size: 25pt;
    }

    .underline{
        top: 105px;
        width: 240px; 
    }

    .forecastBox{
        margin: 0 1.25vw 3px 1.25vw;
    }

    .forecastBox:last-of-type{
        margin-right: 3px;
    }

    .timeLabel{
        font-size: 14pt;
    }

    .weatherBox{
        width: 21vw;
        height: 21vw;
        font-size: 9pt;
        box-shadow: 3px 3px 0 var(--shadow);
    }

    #carousel, #dotnavContainer{
        width: calc((21vw * 3) + (4 * 1.25vw) + 3px);
    }

    #carousel{
        left: 10px;
    }

    .arrow:first-of-type{
        left: -5px;
    }
    
    .arrow:last-of-type{
        left: 20px;
    }

    .hourlyUmbrella{
        width: 7pt;
    }



    /* --------- 5-Day Forecast ------------*/
    .date{
        font-size: 20pt;
    }

    .conditionLabel{
        font-size: 18pt;
    }

    .highLowLabels{
        font-size: 13pt;
        height: 100px;
        row-gap: 7px;
        margin-top: -7px;
    }

    .rainChanceLabel{
        font-size: 14pt;
        margin-top: -20px;
        margin-bottom: 0;
    }
    .umbrella{
        width: 23px;
        margin: 0 5px -20px 0;
    }

}