/* --------------------------- GENERAL ---------------------------*/
:root{
    --darkBrandColor: rgb(68, 124, 128);
    --brandColor: rgb(80, 145, 150);
    --lightBrandColor: rgb(97, 176, 182);
    --softBlack: rgb(44, 44, 44);
    --softWhite: rgb(255, 251, 246);
    --shadow: rgb(49, 49, 49);
    --rainColor: rgb(174, 207, 230);
    --sun: #FFE194;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    right: 3px;
    background-color: var(--white);
    /* border-left: 3px solid var(--softBlack); */
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: stratos, stratos-lights, Inter, 'Helvetica Nue', sans-serif;
    background-color: var(--white);
}

a{
    color: var(--darkBrandColor);
    cursor: pointer;
}

button{
    cursor: pointer;
}

/* --------------------------- HEADER ---------------------------*/
header{
    background-color: var(--softWhite);
    box-sizing: border-box;
    padding: 25px 10% 20px 10%;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    z-index: 4;
    box-shadow: 5px 5px 0px var(--softBlack);
    position: fixed;
    top: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid var(--softBlack);
    border-top: none;
    border-left: 6px solid var(--softBlack);
}


#geotagIcon{
    width: 18px;
    position: relative;
    top: 8px;
    margin-right: 7px;
}

#locationInput{
    box-sizing: border-box;
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--softBlack);
    padding: 0px 9px;
    box-shadow: 3px 3px 0px var(--softBlack);
    height: 35px;
    color: black;
    line-height: 100%;;
    background-color: var(--softWhite);
}

#locationInput::placeholder{
    color: rgb(124, 124, 124);
    
}

#goButton{
    box-sizing: border-box;
    margin-left: 10px;
    font-family: stratos, stratos-lights, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    border-radius: 5px;
    border: 1px solid var(--softBlack);
    padding: 0px 9px;
    box-shadow: 3px 3px 0px var(--softBlack);
    height: 35px;
    color: black;
    background-color: var(--lightBrandColor);
    line-height: 100%;
    transition: background-color 0.2s ease-in-out;
}

#goButton:hover{
    background-color: var(--brandColor);
}



nav{
    display: flex;
    min-width: 200px;
    width: 56%;
    justify-content: space-between;
}

nav a{
    color: var(--softBlack);
    text-decoration: none;
    font-size: 18pt;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    position: relative;
    transition: font-weight 0.15s ease-in-out;   
}

nav a:hover{
    font-weight: 700;
}

.navUnderline{
    height: 6px;
    width: 100%;
    background-color: var(--lightBrandColor);
    position: relative;
    top: 25px;
    transition: background-color 0.2s ease-in-out;
}

nav div:nth-of-type(2) div, nav div:nth-of-type(3) div{
    background-color: var(--softWhite);
}

/* --------------------------- MAIN ---------------------------*/
main{
    box-sizing: border-box;
    padding: 0;
}

section{
    box-sizing: border-box;
    padding: 100px 20% 0 20%;
    margin-top: -75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid var(--softBlack);
    border-left: 6px solid var(--softBlack);
    border-top: none;
    position: relative;
    top: -10px;
    box-shadow: 10px 10px 0px var(--shadow);
}


h1{
    box-sizing: border-box;
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 200;
    font-size: 40pt;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 150%;
    text-align: center;
}

h1:first-of-type{
    margin-top: 25px;
}


#backToTop{
    box-sizing: border-box;
    background-color: var(--lightBrandColor);
    color: var(--softBlack);
    width: 55px;
    height: 55px;
    position: fixed;
    top: 90vh;
    right: 50px;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 3px 3px 0 var(--softBlack);
    border: 1px solid var(--softBlack);
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    transition: background-color 0.2s ease-in-out;
}

#backToTop:hover{
    background-color: var(--brandColor);
}

/* -------------------- Current Weather Section -------------------*/

#currWeatherSection{
    box-sizing: border-box;
    height: calc(103.5vh);
    width: 100%;
    background-color: var(--softWhite);
    z-index: 2;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-top: -90px;
    z-index: 3;
}

#currTemp, #degreeSign, #currWeather{
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 500;
    font-size: 60pt;
}

#degreeSign{
    margin-left: -20px;
}

#linkingWord{
    margin-left: -13px;

}

#highLow{
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    text-align: center;
    font-size: 25pt;
    font-weight: 200;
    margin-bottom: 5vh;
}

#highLow span{
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 400;
}

#weatherIconDiv{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Assets/cloud.svg');
    height: 375px;
    width: 100%;
    margin: 50px 0 50px 0;
}

#currTempBox{
    box-sizing: border-box;
    font-size: 90pt;
    line-height: 100%;
    align-self: center;
    margin: 0;
    position: relative;
    height: 100%;
}

#currTemp{
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 100%;
    height: 100%;
}


/* ---------------------- Hourly Forecast Box -----------------------*/
#hourlyForecastSection{
    /* margin-top: 10px; */
    background-color: var(--softWhite);  
    height: 850px; 
    z-index: 2;
}

h2{
    font-size: 45pt;
    font-weight: 600;
    margin: 0 0 50px 0;
    padding-top: 75px;
    position: relative;
}

.underline{
    height: 15px;
    width: 430px;
    background-color: var(--brandColor);
    position: relative;
    top: 153px;
}

h3{
    font-size: 25pt;
    font-weight: 400;
    margin: 0 0 10px 0;
    line-height: 100%;
}

#nowLabel{
    font-weight: 600;
    /* font-size: 30pt;
    margin-top: -5px;
    margin-bottom: 8px; */
}

#carouselContainer{
    margin-top: 70px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
}

#carousel{
    display: flex;
    align-content: flex-start;
    width: calc((12vw * 4) + (6 * 1vw) + 8px);
    flex-wrap: nowrap;
    position: relative;
    left: -30px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;
    direction: ltr;
}

#carousel::-webkit-scrollbar{
    display: none;
}


.arrow{
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    margin-top: 53px;
    z-index: 2;
}

.arrow:first-of-type{
    /* margin-left: -6vw; */
    left: -65px;
}

.arrow:last-of-type{
    left: -10px;
}

.forecastBox{
    width: 1fr;
    margin: 0 1vw 8px 1vw;
    scroll-snap-align: start;
}

.weatherBox{
    box-sizing: border-box;
    width: 12vw;
    height: 12vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 2px solid var(--softBlack);
    box-shadow: 8px 8px 0 var(--shadow);
    border-radius: 10px;

}

.hourlyTemp{
    position: relative;
    top: -19px;
    left: 5px;
    line-height: 100%;
}

#dotNavContainer{
    display: flex;
    justify-content: center;
    height: 20px;
    width: calc((12vw * 4) + (6 * 1vw) + 8px); /*formula = (weatherBox width * 4) + (numWeatherBoxMargins * marginWidth*) + boxShadow of last box*/
    margin-top: 20px;
}

.dotNav{
    background-color: rgb(190, 190, 190);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 5px 0 5px;
    transition: background-color 0.2s ease-in-out;
}

.dotNavActive{
    background-color: rgb(138, 135, 135);
}

.dotNav:hover{
    cursor: pointer;
    background-color: rgb(138, 135, 135);
}

/* -------------------- 5-Day Forecast Section -------------------*/
#fiveDayForecastSection{
    padding: 100px 20% 0 20%;
    margin-top: -75px;
    background-color: var(--softWhite);
    z-index: 1;
    margin-bottom: 0px;
}

/* .dayBox{
    margin: 0 0 100px 0;
} */

.date{
    font-weight:600;
    font-size: 28pt;
    margin: 0 0 5px 0;
    padding: 0;
}


.dayTile{
    box-sizing: border-box;
    border: 2px solid var(--softBlack);
    border-radius: 10px;
    box-shadow: 8px 8px 0 var(--shadow);
    padding: 50px;
    margin: 0 0 125px 0;
    width: 80%;

    /* height: 353px; */
}

.dayTile:last-of-type{
    margin-bottom: 200px;
}

.conditionLabel{
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 200;
    font-size: 32pt;
    margin: -7px 0 40px 0;
    padding: 0;
    width: 100%;
    line-height: 125%;
}

.fiveDayTemp, .fiveDayDegreeSign, .fiveDayWeather{
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 500;
}

.fiveDayDegreeSign{
    margin-left: -10px;
}

.fiveDayLinkingWord{
    margin-left: -5px;
}

.lowerTile{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.8fr 1.25fr 1fr;
    width: 100%;
    margin: 0;
}
.conditionBox{
    background-image: url('Assets/raincloud.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

/* .infoBox{
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 0 75px;
    padding-left: 75px;
    width: 1fr;
    font-size: 18pt;
    border-left: 1px solid black;
    height: 200px;
} */

.highLowBox{
    border-left: 1px solid var(--softBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.highLowBox, .rainChanceBox{
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 200;
    line-height: 110%;
    padding: 0 20px;
    /* margin: 0 0px 0 60px; */
}

.highLowLabels{
    /* margin: 0 0px 0 60px;
    padding: 50px 60px 0 60px;  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    row-gap: 0px;
    align-items: center;
    text-align: center;
    font-size: 25pt;
    height: 100px;
}

.highLowLabels p{
    margin: 0;
}

.highTempLabel, .lowTempLabel{
    width: 100%;
}


.highTempLabel, .fiveDayDegree, .lowTempLabel, .chanceRain{
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 500;
}

.rainChanceBox{
    /* padding: 60px 0px 0 60px;     */
    border-left: 1px solid var(--softBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 150px; */
}

.umbrella{
    width: 70px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.rainChanceLabel{
    margin: 0 0 0 0;
    display: inline-block;
    font-size: 30pt;
}

.chanceRain{
    margin-right: 2px;
}


/* -------------------- Footer -------------------*/
footer{
    background-color: var(--softWhite);
    height: 200px;
    width: 100%;
    z-index: 0;
    position: relative;
    margin-top: -20;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid var(--softBlack);
    border-left: 6px solid var(--softBlack);
    border-top: none;
    box-shadow: 10px 13px 0 var(--shadow);
    top: -13px;
    background-color: var(--lightBrandColor);
    text-align: center;
}

#apiCredit{
    font-family: stratos-lights, stratos, Inter, 'Helvetica Nue', sans-serif;
    margin: 0;
    padding-top: 95px;
    font-weight: 300;
    display: inline-block;
    font-size: 14pt;
}

.bold{
    font-family: stratos, Inter, 'Helvetica Nue', sans-serif;
    font-weight: 600;
}

footer img{
    display: inline;
    width: 150px;
    margin-left: 5px;
    margin-bottom: -3px;
}